openapi: 3.0.3
info:
  title: PII Scrubber API
  version: 1.0.0
  description: |
    An API that redacts personal and sensitive information (PII) using an LLM.
    Current policy version: v1
servers:
  - url: https://shtech.app.n8n.cloud/webhook/e8807e5d-9172-492a-a2d5-13a61c1c4f7b
paths:
  /scrub:
    post:
      summary: Redact PII from input text
      security:
        - ApiKeyAuth: []
      operationId: scrubText
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  example: "My name is John Doe, phone 555-123-4567, email john@example.com"
      responses:
        '200':
          description: Scrubbed text and detected entities
          content:
            application/json:
              schema:
                type: object
                properties:
                  clean_text:
                    type: string
                    example: "My name is [NAME], phone [PHONE], email [EMAIL]"
                  entities:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: EMAIL
                        text:
                          type: string
                          example: john@example.com
                        start:
                          type: integer
                          example: 33
                        end:
                          type: integer
                          example: 49
                  policy_version:
                    type: string
                    example: v1
        '422':
          description: Invalid JSON returned by model
        '413':
          description: Payload too large
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: scrubber_api_key

